
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid mb-2">

                <h1 class="m-0 text-dark">About School Performance Dashboard</h1>

            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div>
                    This website was created in summer 2020 as part of my MSc Computer Science project.
                    The aim of the website is to help people gain a better of how schools perform
                    relative to the level of disadvantaged pupils a school has.
                    This site uses the 2019 results data that was obtained via the DfE performance tables website
                </div>

            </div>
        </div>
        <!-- /.content-body -->
    </div>


