
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid mb-2">

                <h1 class="m-0 text-dark">Frequently Asked Questions</h1>

            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <!--- Question row-->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary collapsed-card">
                            <!--- Card Header-->
                            <div class="card-header">
                                <h3 class="card-title">Where was the data used for this site obtained from?</h3>
                                <!--- Card Tools-->
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <!--- Card Body-->
                            <div class="card-body">
                                This site uses the 2019 data from the DfE school performance tables.
                                Copies of the data can be downloaded from the DfE website by clicking
                                <a href="https://www.compare-school-performance.service.gov.uk/download-data">here</a>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.question row -->
                <!--- Question row-->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary collapsed-card">
                            <!--- Card Header-->
                            <div class="card-header">
                                <h3 class="card-title">Which schools are included?</h3>
                                <!--- Card Tools-->
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <!--- Card Body-->
                            <div class="card-body">
                                Any school in England that had a KS4 result in 2019 is included.
                                If a school did not have a KS4 result in 2019 they will not be included even if it is a secondary school
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.question row -->
                <!--- Question row-->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary collapsed-card">
                            <!--- Card Header-->
                            <div class="card-header">
                                <h3 class="card-title">Why is the percentage of disadvantaged pupils at the end of KS4 used instead of the overall percentage of disadvantaged pupils?</h3>
                                <!--- Card Tools-->
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <!--- Card Body-->
                            <div class="card-body">
                                This is because the files provided by the DfE only contains the percentage of disadvantaged pupils at the end of KS4 and not the overall percentage of disadvantaged pupils in each school
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.question row -->
                <!--- Question row-->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary collapsed-card">
                            <!--- Card Header-->
                            <div class="card-header">
                                <h3 class="card-title">I have a school that had a KS4 result in 2019 but I cannot find the school in the Scatterplot</h3>
                                <!--- Card Tools-->
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <!--- Card Body-->
                            <div class="card-body">
                                If a school had no disadvantaged pupils at the end of KS4 in 2019 
                                or a school have no data available for the percentage of disadvantaged pupils at the end of KS4 
                                they will not be included in the Scatterplot.
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.question row -->
                <!--- Question row-->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary collapsed-card">
                            <!--- Card Header-->
                            <div class="card-header">
                                <h3 class="card-title">Can I export any of the data on this site</h3>
                                <!--- Card Tools-->
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <!--- Card Body-->
                            <div class="card-body">
                                Both results tables can be exported to an excel or csv file. All you need to do is click the export button towards the top of the page
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.question row -->
                <!--- Question row-->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary collapsed-card">
                            <!--- Card Header-->
                            <div class="card-header">
                                <h3 class="card-title">I only want to export some of the data on the table not all the data. How do I do this?</h3>
                                <!--- Card Tools-->
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <!--- Card Body-->
                            <div class="card-body">
                                You can use the search functionality to filter the table and click the export filtered button to export only the schools in the filtered table
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.question row -->
                <!--- Question row-->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary collapsed-card">
                            <!--- Card Header-->
                            <div class="card-header">
                                <h3 class="card-title">Can I search for schools in the tables by their DfE number of Unique Reference Number</h3>
                                <!--- Card Tools-->
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <!--- Card Body-->
                            <div class="card-body">
                                Yes you can use the search box to filter schools by the DfE number of Unique Reference Number
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.question row -->

            </div>
        </div>
        <!-- /.content-body -->
    </div>