
@{
    ViewData["Title"] = "School Performance Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">

    <!-- Header -->
    <div class="content-header">

        <div class="container-fluid">

            <div class="jumbotron jumbotron-home jumbotron-fluid">

                <div class="container">

                    <!-- Header Title-->
                    <div class="d-flex text-header text-dark text-center justify-content-center">School Performance Dashboard</div>

                    <!-- Dashed line-->
                    <hr class="style1">

                    <!-- Header Text-->
                    <div class="lead d-flex text-center justify-content-center">
                        This dashboard allows you to view 2019 examination results for all schools in England
                        with an emphasis on the percentage of disadvantaged pupils at each school
                        and the performance of disadvantaged pupils at each school
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.header -->


    <!-- Main content -->
    <div class="content">

        <div class="container-fluid">

            <!--Row -->
            <div class="row justify-content-center">

                <!--Card (View All Results) -->
                <div class="col-sm-6">
                    <div class="card bg-primary">
                        <div class="card-header">
                            <h5 class="m-0">View All Schools Results</h5>
                        </div>
                        <div class="card-body">
                            <p><a href="#" class="card-link text-light">View Result Scatterplot for all schools in England</a></p>
                        </div>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.row -->

        </div>

    </div>
    <!-- /.content -->

</div>

